<?xml version="1.0" encoding="utf-8"?>

<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="aethers.notebook.azure.appender"
        android:versionCode="3"
        android:versionName="1.1.0">
           
    <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:label="@string/app_name">
            
        <activity android:name=".ConfigurationActivity" />
        
        <activity android:name=".LoginResultActivity" />
                
        <activity android:name=".OpenIdProviderListActivity" />
        
        <activity android:name=".WebActivity" />
        
        <service android:name=".AzureAppenderService"
                android:exported="true">
            <intent-filter>
                <action android:name="aethers.notebook.action.CORE" />
                <category android:name="aethers.notebook.action.category.APPENDER" />
            </intent-filter>
        </service>

    </application>
    
</manifest>